* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem; 
}

main img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.btn {
    background: 	#128c7e; 
    color: #fff; 
    text-decoration: none;
    padding: .5rem 1rem; 
}


#posts {
    margin: 1rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2rem; 
    column-gap: 2rem; 
    flex-wrap: wrap;
}

.post {
}

.post img {
    width: 100%;
}


.footer {
    background: #f9f9f9;
    padding: 1rem; 
    margin: 1rem 0; 
}

.footer form  {
    display: flex;
    flex-direction: column;
    row-gap: 1rem; 
    margin: 1rem 0; 
}

.footer form input, .footer form textarea {
    padding: .5rem 1rem; 
}